<div class='py-5'>
  <h1>{{name}}</h1>
  <button id="createCounter" (click)="create()">Create</button>
  <button id="minusBtn" (click)="subtract()">-</button>
  <button id="plusBtn" (click)="add()">+</button>
  <div *ngFor="let counter of counters">{{counter.value}}</div>
  <div class="superCounter" *ngFor="let superCounter of superCounters">{{superCounter.value2}}</div>
  <div class="superDuperCounter" *ngFor="let superDuperCounter of superDuperCounters">{{superDuperCounter.value3}}</div>
  <div *ngIf ="superDuperCounters.length!=0">
<button id="SuperDuperCounterStart" (click)="add()" (click)="checkValueOfSuperDuper()">Start</button>
</div>
<div class="colossalCounter" *ngFor="let colossalCounter of colossalCounters">{{colossalCounter.value4}}</div>

